{% extends "base.html" %}
{% load humanize %}
{% block title %}
  Order Details
{% endblock  %}
{% block content %}

   <div class='container'style="margin-top:60px;">
    <div class='row'>
      <div class='col-md-8'>
        <h4>profile information<h4><hr>
       
            <p style="font-size:20px;"><span class='font-weight-bold'>ORDER Id</span>: {{ord_obj.id}}</p>
             <p style="font-size:20px;"><span>Order Status </span>: {{ord_obj.order_status}}</p>
             <p style="font-size:20px;"><span>Order On </span>: {{ord_obj.created_at}}({{ord_obj.created_at|timesince}})</p>
             <p style="font-size:20px;"><span>Customer information </span>: {{ord_obj.name}}({{ord_obj.mobile}})</p>
             <p style="font-size:20px;"><span>Joined on </span>: {{ord_obj.address}}({{ord_obj.email}})</p>
         <hr>
         <h4>Order Items</h4> 
         <table class="table">
        
        
        <thead>
          <tr>
            <th>S.No</th>
            <th>Product</th>
            <th>Rate</th>
            <th>Quantity</th>
            <th>Subtotal</th>
           
            <th>ProductImage</th>
          </tr>
        </thead>
        <tbody>
          {% for cp in  ord_obj.cart.cartproduct_set.all %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'ecomapp:productdetail' cp.product.slug %}">{{ cp.product.title }}{{cp.id}}</a></td>
            <td>{{ cp.rate|intcomma }}</td>
            <td>{{ cp.quantity}}</td>
            <td>{{ cp.sub_total|intcomma }}</td>
            
            <td>
              <img
                style="border-radius: 50%; text-align: center"
                src="{{cp.product.image.url}}"
                height="70px"
                width="120px"
              />
            </td>
          </tr>

          {% endfor %}

          
          
        </tbody>
        <th colspan="4">total</th>
            <th>{{ord_obj.total |intcomma}}</th>
            <th></th>
            
      </table>   
       </div>
      </div> 
     </div> 
   
{% endblock  %}