{% extends "base.html" %} {% block title %} contact {% endblock %} 
{% block content %}
 <div class="container" style="margin-top: 60px">
  <div class="row">
    <div class="col-md-8">
      {% if request.GET.m == " s" %}
      <h3>reset password link is send to your mail please check</h3>
      {% else %}
       <h3>enter your email used in customer to making resetpassword link</h3>
       <form method="POST">
        {% csrf_token %} {{form.as_p}}
        <button class="btn btn-info">Get link</button>
       </form>
      {% endif %}
    </div>
  </div>
 </div>

{% endblock %}
