{% extends "base.html" %} {% block title %} Mycart {% endblock %} {% block content%}
 <div class="container" style="margin-top:60px;">
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <h1>Cart Items</h1>
        
        <thead>
          <tr>
            <th>S.No</th>
            <th>Product</th>
            <th>Rate</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Action</th>
            <th>ProductImage</th>
          </tr>
        </thead>
        <tbody>
          {% for cp in cart.cartproduct_set.all %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ cp.product.title }}</td>
            <td>{{ cp.rate }}</td>
            <td>{{ cp.quantity}}</td>
            <td>{{ cp.sub_total }}</td>
            <td>
              <a
                href="{% url 'ecomapp:managecart' cp_id=cp.id cp_action=1%}"
                class="btn btn-primary"
                >-</a
              >
              <a
                href="{% url 'ecomapp:managecart' cp_id=cp.id cp_action=2 %}"
                class="btn btn-primary"
                >+</a
              >
            </td>
            <td>
              <img
                style="border-radius: 50%; text-align: center"
                src="{{cp.product.image.url}}"
                height="60px"
                width="120px"
              />
            </td>
          </tr>

          {% endfor %}
          <tr>
            <th colspan="4">total</th>
            <th>{{cart.total}}</th>
            <th></th>
            
             <th><a href="{% url 'ecomapp:mycheckout' %}" class="btn btn-info">checkout</a></th>
             
            
            
           
          
          </tr>
          
         
        </tbody>
      </table>
    </div>
  </div>
 </div>
{% endblock %}
